<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Commission Calculator</title>
    <link
      rel="icon"
      href="https://i.ibb.co/7N7wB8M/28501403.jpg"
      type="image/png"
    />
  </head>
  <body>
    <style>
      body {
        background-image: url("/images/wall.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
    </style>
    <div class="container">
      <h1>Global Sales</h1>
      <label for="salesInput"
        >Enter the sales values separated by spaces:</label
      >
      <!-- <input type="text" id="salesInput" placeholder="e.g., 100 200 150" /> -->
      <textarea id="salesInput" placeholder="e.g., 100 200 150"> </textarea>
      <button onclick="calculateSalary()">Calculate</button>
      <div id="result"></div>

      <script src="/script.js"></script>
    </div>
  </body>
</html>
